#graphSide{
    display: flex;
    flex-direction: column;
    height:100%;
    overflow:auto;
}
nav{
    background-color:#2c7ad0;
    color:white;
    height: 5rem;
    float: right;
    width: auto;
    transition: width 600ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.innerNavWrapper{
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
    height: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }


:host{
    width: 50%;
}

#graphSide::-webkit-scrollbar{
    width: .25rem;
}

#graphSide::-webkit-scrollbar-track{
    background: white;
}

#graphSide::-webkit-scrollbar-thumb{
    background: white
}

.graph{
    margin: 20px
}

.topGraph{
    margin-top: 5rem
}