#graphSide{
    display: flex;
    flex-direction: column;
    height:100%;
    overflow:auto;
}
nav{
    background-color:black;
    color:white;
    height: 4%;
    float: right;
    width: auto
}
:host{
    width: 50%;
}

#graphSide::-webkit-scrollbar{
    width: .25rem;
}

#graphSide::-webkit-scrollbar-track{
    background: white;
}

#graphSide::-webkit-scrollbar-thumb{
    background: white
}

.graph{
    margin: 20px
}

.topGraph{
    margin-top: 5rem
}